body {
	font-family: Arial, sans-serif;
}

.container {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

h2 {
	text-align: center;
}

label {
	display: block;
	margin-top: 10px;
}

input[type="text"], input[type="password"] {
	width: 100%;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

.btn {
	display: bolck;
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	background-color: #4CAF50;
	color: white;
	text-align: center;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.btn:hover {
	background-color: #45a049;
}

.password-item {
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
